.header .container {
  display: flex;
  gap: 450px ;
  justify-self: center;
}
.header-logo-link {
  display: flex;
  margin-top: 65px;

}

.header-logo-text-div{
  margin: 8px 0 0 12px;

}
.header-logo-title{
  margin: 0;
  color: $light-grey;
  font-family: $fount-pt-sans;
  font-size: 30px;
  font-weight: bold;
  line-height: 0.8;
  letter-spacing: 0.06em;

}


.header-logo-text{
  color: $light-grey;
  font-family: $fount-pt-sans;
  font-size: 14px;
  margin-top: 13px;
  letter-spacing: 0.04em;
}
.header-contact-info{
  margin-top: 47px;
  margin-left: auto;
  justify-content: center;
  text-align: right;
}





.header-contact-info-number{

  display: block;
  color: $light-grey;
  font-family: $fount-pt-sans;
  font-weight: 300;
  line-height: 1.6;
  transform: scaleY(1.45);
  transform-origin: bottom;
  letter-spacing: 2px;
  font-size: 28px;

}
.header-contact-info-modal{
  color: $light-grey;
  font-family: $fount-pt-sans;
  font-size: 23px;
  font-weight: 700;
  line-height: 0;
  display: inline-block;
  text-decoration: underline;
  text-decoration-style: dashed;

}
