$fount-pt-sans: 'PT Sans', sans-serif;
$font-inter: 'Inter', sans-serif;
$grey: #767676;
$dark-grey:#444444;
$white: #FFFFFF;
$light-grey:#757575;

@mixin mobile {
  @media screen and (max-width: 767.9px) and (min-width: 0) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) and (max-width: 1199.9px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}